@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lilita One", sans-serif;
    scroll-behavior: smooth;

}

body {
    min-width: 100%;
    min-height: 100vh;
    background: linear-gradient(#5074a0, #172944);
    overflow-x: hidden;
}

.header {
    background: linear-gradient(#5074a0, #172944);
    overflow-x: hidden;
}

p {
    font-size: 1.4rem;
    color: #0c1c33;
}

h2 {
    font-size: 2.4rem;
    color: #0c1c33;
}

.navigation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.445);
    position: fixed;
    z-index: 1000;
}

.close {
    visibility: hidden;
}

.logo {
    color: #0c1c33;
    font-weight: 600;
    text-decoration: none;
    font-size: 2.50rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 2rem;
}

nav li {
    list-style: none;

}

nav a {
    text-decoration: none;
    color: #161736;
    font-size: 1.2rem;
}

nav a:hover,
nav a .active {
    background: #fff;
    color: #0c1c33;
    padding: 8px;
    border-radius: 18px;
}

.parallax_box {
    position: relative;
    height: 100vh;
    background: linear-gradient(#6a94c6, #172944);

}

.parallax_box::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10rem;
    padding-top: 40px;
    background: linear-gradient(transparent, #fff, #eff2f8, #d6ddeb);
    z-index: 850;
}

.parallax_box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title {
    color: #fff;
    text-align: center;
    font-size: 13vh;
    z-index: 10;
    text-shadow: 3px 3px 5px #0c1c33;
    padding-top: 13rem;
    z-index: 100;
    /* transform: translateY(200px); */

}

.divbutton {
    display: flex;
    justify-content: center;
}

.btn {
    padding: 10px;
    border-radius: 15px;
    color: #0c1c33;
    background: #fff;
    border: none;
    font-size: 1.2rem;
    margin-top: 25px;
    cursor: pointer;
    z-index: 100;
    box-shadow: 2px 2px 5px #0c1c33;

}

.sect {
    position: relative;
    padding: 15rem 3rem;
    background: #d6ddeb;
    min-width: fit-content;
}


.header .mobile-menu {
    margin-left: 0;
}

.menu-hamburger {
    display: none;
}


@media screen and (max-width: 900px) {
    .header {
        background: #0c1c33;
    }

    .nav-links {
        position: absolute;
        width: 100%;
        height: 100vh;
        z-index: 100;
        top: 0;
        left: 0;
        margin-left: -100%;
        transition: all 0.5s ease;
    }

    .title {
        padding-top: 9rem;
    }

    nav .nav-links {
        display: flex;
        flex-direction: column;
        background-color: #161736;
    }

    .menu-hamburger {
        display: flex;
        position: absolute;
        top: 35px;
        right: 25px;
        width: 35px;
        z-index: 100;
    }


    nav ul,
    nav a {
        justify-content: center;
        align-items: center;
        gap: 2rem;
        font-size: 1.5rem;
        color: #d6ddeb;
    }

    .logo {
        color: #0c1c33;
    }

}