@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lilita One", sans-serif;
    scroll-behavior: smooth;

}

body {
    min-height: 100vh;
    background: linear-gradient(#648cbc, #263e62);
    overflow-x: hidden;

}

p {
    font-size: 1.4rem;
    color: #0c1c33;
}

h2 {
    font-size: 2.4rem;
    color: #0c1c33;
}

.navigation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    color: #0c1c33;
    font-weight: 600;
    text-decoration: none;
    font-size: 2.50rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 3rem;
}

nav li {
    list-style: none;

}

nav a {
    text-decoration: none;
    color: #161736;
    font-size: 1.2rem;
}

nav a:hover,
nav a .active {
    background: #fff;
    color: #0c1c33;
    padding: 8px;
    border-radius: 18px;
}

.parallax_box {
    position: relative;
    width: 100%;
    height: 57rem;


}

.parallax_box::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(to top, #fff, transparent);
    z-index: 1000;
}

.parallax_box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title {
    color: #fff;
    text-align: center;
    font-size: 13vh;
    z-index: 10;
    text-shadow: 2px 2px 3px #0c1c33;
    transform: translateY(200px);

}

.btn_box {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.btn {

    /* text-align: center;
    text-decoration: none;
    padding: 8px 30px;
    border-radius: 18px;
    background: #fff;
    color: #161736;
    font-size: 1.5rem;
    z-index: 10;
    cursor: pointer; */

}

.sect {
    position: relative;
    padding: 50px 10px;
    background: #ffffff;
}